
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

footer {
    padding: 24px 40px;
    position: static;
    bottom: 20px;
    background-color: hwb(81 33% 22%);
}

img {
    height: 200px;
}

h1 {
    color: rgb(172, 92, 0)
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    background-color: bisque;
}

a {
   text-decoration: none;
   color: rgb(206, 158, 0)
}

header {
    background-color: orangered;
    border-bottom: rgb(126, 0, 0)
}

.white-font {
    color: white;
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.267)
}
